<h1 mat-dialog-title class="border-b-2 border-gray-200"> Đổi mật khẩu </h1>
<div mat-dialog-content class="m-4 border-b-2 border-gray-200">
    <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old Password*</label>
            <div class="flex flex-row items-center justify-end relative">
                <input [(ngModel)]="old" [type]="hide1?'password':'text'"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                <button class="absolute flex flex-row items-center m-2" (click)="onHide1()"><mat-icon>{{hide1 ?
                        'visibility' : 'visibility_off'}}</mat-icon></button>
            </div>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> New Password*</label>
            <div class="flex flex-row items-center justify-end relative">
                <input [(ngModel)]="new" [type]="hide2?'password':'text'"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                <button class="absolute flex flex-row items-center m-2" (click)="onHide2()"><mat-icon>{{hide2 ?
                        'visibility' : 'visibility_off'}}</mat-icon></button>
            </div>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password*</label>
            <div class="flex flex-row items-center justify-end relative">
                <input [(ngModel)]="cofirmNew" [type]="hide3?'password':'text'"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                <button class="absolute flex flex-row items-center m-2" (click)="onHide3()"><mat-icon>{{hide3 ?
                        'visibility' : 'visibility_off'}}</mat-icon></button>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="buttonCss"><button mat-raised-button color="warn"  (click)="onNoClick()">Hủy</button>
        <button mat-raised-button [ngStyle]="{'background-color': 'green', 'color': 'white'}"
        (click)="change()" cdkFocusInitial>Lưu</button></div>
</div>  