<div class="absolute w-full h-full bg-black opacity-30 z-100" *ngIf="loadService.isloading | async">
    <mat-spinner style="top: 40%; left :48%; color: green;"></mat-spinner >
</div>

<div class="w-full h-full flex flex-col p-4 bg-lime-100">
    <div class="flex flex-row items-center">
        <div class="basis-1/3 text-2xl font-medium text-green-800">
            Quản lý loại sản phẩm
        </div>
        <div class="basis-2/3 text-sm h-auto flex flex-col items-end">
            <div class="flex flex-row justify-center items-center">
                <div
                    class="w-56 flex flex-row justify-center items-center text-gray-400 bg-white p-2 rounded mt-0 drop-shadow-xl">
                    <mat-icon>calendar_today</mat-icon>
                    <mat-select class="w-36" [(ngModel)]="timeInput">
                        <mat-option *ngFor="let lv of times" [value]="lv">
                            {{lv}}
                        </mat-option>
                    </mat-select>
                </div>
                <div>
                    <button (click)="filter(timeInput)"
                        class="flex flex-row items-center justify-center bg-white px-2 py-1 border-2 rounded ml-2 text-gray-400 drop-shadow-xl">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                </div>
                <div>
                    <button (click)="add($event)"
                        class="flex flex-row items-center justify-center bg-green-600 p-2 pr-4 border-2 rounded-lg ml-2 text-white drop-shadow-xl">
                        <mat-icon>add</mat-icon>
                        Thêm loại sản phẩm
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 drop-shadow-xl">
        <div class="mat-elevation-z8">
            <div class="w-full flex flex-row items-center bg-white p-2 text-sm">
                <p class="text-green-600 font-medium">Tìm kiếm:</p> &nbsp;
                <div class="border-2 border-green-400 rounded h-auto w-48 justify-center flex p-2 drop-shadow-xl">
                    <input matInput (keyup)="applyFilterTypeProduct($event)" placeholder="Nhập nội dung" #input />
                </div>
            </div>
            <table mat-table [dataSource]="dataSourceTypeProduct" matSort>

                <ng-container matColumnDef="typeProductId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.typeProductId}} </td>
                </ng-container>
            
                <ng-container matColumnDef="typeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên loại sản phẩm </th>
                    <td mat-cell *matCellDef="let row"> {{row.typeName}} </td>
                </ng-container>

                <ng-container matColumnDef="net_weight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Khối lượng tịnh </th>
                    <td mat-cell *matCellDef="let row"> {{row.net_weight}} </td>
                </ng-container>
            
                <ng-container matColumnDef="procedureOfProduct">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quy trình </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="ml-1 inline-block w-[200px]">
                            <span class="truncate block">
                                {{row.procedureOfProduct}}
                            </span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="elementOfProduct">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành phần </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="ml-1 inline-block w-[200px]">
                            <span class="truncate block">
                                {{row.elementOfProduct}}
                            </span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thương hiệu </th>
                    <td mat-cell *matCellDef="let row"> {{row.brand}} </td>
                </ng-container>
            
                <ng-container matColumnDef="system">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sửa/Xóa</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button mat-icon-button class="btnCssEdit" (click)="redirectToUpdate(row.typeProductId)">
                            <mat-icon class="mat-18">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="redirectToDelete(row.typeProductId)">
                            <mat-icon class="mat-18">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTypeProduct"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTypeProduct;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20]" aria-label="Select page of Farms"></mat-paginator>
        </div>
    </div>
</div>