<h1 mat-dialog-title class="border-b-2 border-gray-200"> Quên mật khẩu </h1>
<div mat-dialog-content class="m-4 border-b-2 border-gray-200">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nhập Email*</label>
                <input [(ngModel)] = "email"
                type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nhập SĐT*</label>
                <input [(ngModel)] = "sdt"
                type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
        </div>
</div>
<div mat-dialog-actions>
    <div class="buttonCss"><button mat-raised-button color="warn"  (click)="onNoClick()">Hủy</button>
        <button mat-raised-button [ngStyle]="{'background-color': 'green', 'color': 'white'}"
        (click)="change($event)" cdkFocusInitial>Gửi</button></div>
</div>  
