<!--404 page start here-->
<div class="not-found">
	<div class="notfound-top">
	<h1>404</h1>
	</div>
	<div class="content">
		<img src="https://tse4.mm.bing.net/th?id=OIP.-8sNLAd-L0rux1MvL9pLrQHaHa&pid=Api&P=0" width="150px"
		height="150px" alt="" title="">
		<h3>Lỗi rồi!!! Lỗi rồi!!!! Trang này đã không còn tồn tại nữa. Cần liên hệ thì điền vào ô bên dưới nhé!!!!!</h3>
		<form>
		<input type="text" value="Report Here ...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Report Here ..... ';}">
		<input type="submit" value="Send"/>
		</form>
		<!-- <ul class="social-icon">
			<li><a  class="fa" href="#"> </a></li>
			<li><a  class="tw" href="#"> </a></li>
			<li><a  class="g" href="#"> </a></li>
		</ul> -->
	</div>
    <div class="clear"> </div>
</div>
<div class="copyright">
	<p>© 2022 Creative 404.</p>
</div>	
<!--404 page end here-->
