<!--404 page start here-->
<div class="not-found">
	<div class="notfound-top">
	    <h1>404</h1>
	</div>
	<div class="content">
		<img src="images/green.png" alt="" title="">
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
		<form>
		<input type="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}">
		<input type="submit" value="Send"/>
		</form>
		<ul class="social-icon">
			<li><a  class="fa" href="#"> </a></li>
			<li><a  class="tw" href="#"> </a></li>
			<li><a  class="g" href="#"> </a></li>
		</ul>
	</div>
    <div class="clear"> </div>
</div>
<div class="copyright">
	<p>© 2022 Creative 404.</p>
</div>	
<!--404 page end here-->
