<div class="w-full h-screen bg-gray-200 flex flex-row items-center justify-center">
    <div class="mt-14 p-4 w-full h-[90%] flex flex-col items-center justify-center">
        <div class="m-4 text-4xl font-light">
            ABOUT
        </div>
        <div class="w-full h-[30%] grid grid-cols-3">
            <div class="col-span-2 bg-white drop-shadow-xl">

            </div>
            <div>

            </div>
        </div>
        <div class="w-full h-[30%] grid grid-cols-3">
            <div>
                    
            </div>
            <div class="col-span-2 bg-white drop-shadow-xl">

            </div>
        </div>
        <div class="w-full h-[30%] grid grid-cols-3">
            <div class="col-span-2 bg-white drop-shadow-xl">

            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>