<div class="w-full h-screen bg-gray-200 flex flex-row items-center justify-center">
    <div class="mt-14 p-4 w-full h-[90%] flex flex-col items-center justify-center">
        <div class="m-4 text-4xl font-light">
            THÔNG TIN
        </div>
        <div class="w-full h-[30%] grid grid-cols-3">
            <div class="col-span-2 h-full bg-white drop-shadow-xl text-gray-900 flex flex-col items-center justify-center text-md">
                Thu thập thông tin sản phẩm bưởi đặc thù về vùng miền của các tỉnh trồng bưởi ở các tỉnh miền Tây và miền Trung.
                Mô hình quan hệ truy xuất nguồn gốc từ chuỗi cung ứng như nông trại, nhà máy, vận chuyển, thương lái, cử hàng.
                Ứng dụng công nghệ truy xuất nguồn gốc vào các giai đoạn tiêu thụ, vận chuyển và bảo quản sản phẩm trong chuỗi cung ứng.
            </div>
            <div [ngStyle]="{'background-image': 'url('+item1+')'}">
                
            </div>
        </div>
        <div class="w-full h-[30%] grid grid-cols-3">
            <div [ngStyle]="{'background-image': 'url('+item2+')'}">     
            </div>
            <div class="col-span-2 h-full bg-white drop-shadow-xl text-gray-900 flex flex-col items-center justify-center text-md">
                Quy trình tạo ra sản phẩm mứt bưởi của công ty Foodtech: 1 Sơ chế cùi bưởi, gọt bỏ phần vỏ, lấy phần cùi trắng để làm mứt.
                Cùi bưởi cắt miếng lớn, sau đó xả qua nước lạnh. 
                Cuối cùng bạn bóp nhẹ. Đun sôi nồi nước, thả cùi bưởi vào luộc. Đun một nồi nước, vớt ra ngâm cùi bưởi. 
                Chế biến thành một món mứt trắng tinh đẹp mắt hương vị dai ngọt, the mát vô cùng hấp dẫn.
            </div>
        </div>
        <div class="w-full h-[30%] grid grid-cols-3">
            <div class="col-span-2 bg-white drop-shadow-xl h-full text-gray-900 flex flex-col items-start justify-center text-md">
                Thử nghiệm hệ thống trên sản phẩm mứt bưởi của công ty Foodtech.
                Thu thập ý kiến khách hàng 
            </div>
            <div [ngStyle]="{'background-image': 'url('+item3+')'}">
                
            </div>
        </div>
    </div>
</div>